<template>
    <v-main>
      <v-layout wrap>
      <v-card
        class="mx-auto"
        max-width="344"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title 
            class="text-h4 mb-1">
            {{totalProducts}}
            </v-list-item-title>
            <v-list-item-subtitle>Total Products</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-avatar
            tile
            size="80"
          >
          <v-img src="https://cdn-icons-png.flaticon.com/512/3275/3275430.png"></v-img></v-list-item-avatar>
        </v-list-item>
    
        <v-card-actions>
          <v-btn
            outlined
            rounded
            class="success"
            dark
            to="products"
          >
            Products
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card
        class="mx-auto"
        max-width="344"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title 
            class="text-h4 mb-1">
            {{totalPurchases}}
            </v-list-item-title>
            <v-list-item-subtitle>Total Purchases</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-avatar
            tile
            size="80"
          ><v-img src="https://cdn-icons-png.flaticon.com/512/2826/2826356.png"></v-img></v-list-item-avatar>
        </v-list-item>
    
        <v-card-actions>
          <v-btn
            outlined
            rounded
            dark
            class="warning"
            to="purchases"
          >
            Purchases
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card
        class="mx-auto"
        max-width="344"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title 
            class="text-h4 mb-1">
            {{totalOrders}}
            </v-list-item-title>
            <v-list-item-subtitle>Total Orders</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-avatar
            tile
            size="80"
          ><v-img src="https://cdn-icons-png.flaticon.com/512/2721/2721975.png"></v-img></v-list-item-avatar>
        </v-list-item>
        <v-card-actions>
          <v-btn
            outlined
            rounded
            dark
            class="primary"
            to="orders"
          >
            Orders
          </v-btn>
        </v-card-actions>
      </v-card>
      </v-layout>
      <br/><br/>
      <v-data-table
        :headers="headers"
        :items="products"
        :items-per-page="5"
        hide-default-footer
        class="elevation-1"
      ></v-data-table>
    </v-main>
    </template>
    
    <script>
      export default {
        data:() => ({
            totalProducts:'',
            totalPurchases:'',
            totalOrders:'',
            headers: [
             {
                text: 'Name',
                align: 'start',
                value: 'name', class: "green lighten-2"
              },
              { text: 'Total Purchase Qty (kg)', value: 'total_purchaseqty',class: "green lighten-2" },
              { text: 'Total Order Qty (kg)', value: 'total_orderqty',class: "green lighten-2" },
              { text: 'Total In Stock (kg)', value: 'total_instock',class: "green lighten-2" },
            ],
            products: [],
          }),
        created () {
          this.initialize()
        },
    
        methods: {
          async initialize() {
            console.log("totalproducts")
            const res = await this.$axios.get("http://localhost:9000/products");
            this.products = res.data;
            this.totalProducts=this.products.length;
            console.log("totalPurchases")
            const response = await this.$axios.get("http://localhost:9000/purchases");
            this.purchase = response.data;
            this.totalPurchases=this.purchase.length;
            console.log("totalOrders")
            const responses = await this.$axios.get("http://localhost:9000/orders");
            this.orders = responses.data;
            this.totalOrders=this.orders.length;
            }
        }
      }
    </script>