<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="bg"></div>
        <div class="logo"></div>
      </v-col>

      <v-col>
        <v-form ref="form" v-model="valid" lazy-validation>
          <div class="vCard">
            <v-main>
              <v-layout>
                <v-spacer></v-spacer>
                <v-card class="mx-auto mt-9" max-width="500">
                  <v-card-title> Login </v-card-title>
                  <v-card-text>
                    <v-text-field
                      label="Email"
                      v-model="email"
                      :rules="emailRules"
                      prepend-icon="mdi-account-circle"
                    />
                    <v-text-field
                      label="Password"
                      v-model="password"
                      :rules="passwordRules"
                      :type="showPassword ? 'text' : 'password'"
                      prepend-icon="mdi-lock"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="showPassword = !showPassword"
                    />
                  </v-card-text>
                  <v-card-actions class="justify-end">
                    <v-btn id="regis" to="register">Register</v-btn>
                    <v-btn
                      id="login"
                      :disabled="!valid"
                      @click="submitForm"
                      to="dashboard"
                      >Login</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-layout>
            </v-main>
          </div>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    showPassword:false,
    valid: true,
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) => (v && v.length >= 6) || "Password must be more than 6 characters",
    ],
  }),

  methods: {
    submitForm() {
      this.$refs.form.validate();
    },
  },
};
</script>

<style>
.bg {
  width: 50vw;
  height: 95vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/images/bg.png") no-repeat center center;
  background-size: cover;
  transform: scale(1);
}

.logo {
  width: 50vw;
  height: 95vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/images/logo.png") no-repeat center center;
  background-size: cover;
  transform: scale(1.0);
}

.vCard {
  padding-top: 90px;
  padding-right: 30px;
}

#regis,
#login {
  color: white;
}

#regis {
  background-color: #c28842;
}

#login {
  background-color: #3ca747;
}
</style>