<template>
 <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
    :headers="headers"
    :items="products"
    :search="search"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Products</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              rounded
              color="#3CA747"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New Product
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                    <v-text-field
                      v-model="editedItem.PRO_NAME"
                      label="Name"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="12"
                      md="12"
                    >
                      <v-select
                        :items="category"
                        item-text="typeName"
                        item-value="values"
                        label="Select Category"
                        v-model="editedItem.CATE_ID"
                      ></v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="8"
                      md="6"
                    >
                    <v-text-field
                      v-model="editedItem.PRO_PURCHASEQTY"
                      label="Purchase Qty"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="8"
                      md="6"
                    >
                    <v-text-field
                      v-model="editedItem.PRO_ORDERQTY"
                      label="Order Qty"
                    ></v-text-field>
                  </v-col>
                        <v-col
                      cols="12"
                      sm="12"
                      md="12"
                    >
                      <v-select
                        :items="employee"
                        item-text="typeName"
                        item-value="values"
                        label="Select Employee"
                        v-model="editedItem.EMP_ID"
                      ></v-select>
                    </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                rounded
                color="black"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                rounded
                color="#3CA747"
                dark
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn rounded color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn rounded color="#3CA747" dark @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        rounded
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
  </v-card>
</template>

<script>

const URL = "http://localhost:7043";

  export default {
    data: () => ({
      search:'',
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Product ID',
          align: 'start',
          sortable: false,
          value: 'PRO_ID',
          class: "green lighten-2",
        },
        { text: 'Product Name', value: 'PRO_NAME',class: "green lighten-2" },
        { text: 'Category', value: 'CATE_NAME',class: "green lighten-2" },
        { text: 'Purchase Qty', value: 'PRO_PURCHASEQTY',class: "green lighten-2" },
        { text: 'Order Qty', value: 'PRO_ORDERQTY',class: "green lighten-2" },
        { text: 'In stock', value: 'PRO_ONHAND',class: "green lighten-2" },
        { text: 'Add by', value: 'EMP_NAME',class: "green lighten-2" },
        { text: 'Actions', value: 'actions', sortable: false,class: "green lighten-2"},
      ],
      products: [],
      category:[{ values: "1", typeName: "Beverages" },
      { values: "2", typeName: "Dairy" },
      { values: "3", typeName: "Confectionery" },
      { values: "4", typeName: "Frozen Food" },
      { values: "5", typeName: "Personal Care" },
      { values: "6", typeName: "Hosehold Cleaning" },],
      employee:[{ values: "1", typeName: "Sirikorn" },
      { values: "2", typeName: "Saw Yaw Han Htun" },
      { values: "3", typeName: "Saw Ah Tar" },
      { values: "4", typeName: "Thichakorn" },
      { values: "5", typeName: "Romtheera" },
      { values: "6", typeName: "Tawan" },],
      editedIndex: -1,
      editedItem: {
        PRO_ID:0,
        PRO_NAME:'',
        CATE_ID:0,
        PRO_PURCHASEQTY: 0,
        PRO_ORDERQTY: 0,
        PRO_ONHAND: 0,
        EMP_ID:0,
      },
      defaultItem: {
        PRO_ID:0,
        PRO_NAME:'',
        CATE_ID:0,
        PRO_PURCHASEQTY: 0,
        PRO_ORDERQTY: 0,
        PRO_ONHAND: 0,
        EMP_ID:0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Product' : 'Edit Product'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      async initialize () {
        console.log("initialize")
        const res = await this.$axios.get(URL+"/api/products");
        this.products = res.data.data;
      },

      editItem (item) {
        this.editedIndex = this.products.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      async deleteItem (item) {
        this.editedIndex = this.products.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
        const res = await this.$axios.delete(URL+"/api/products/" + this.editedItem.PRO_ID);
      },

      deleteItemConfirm () {
        this.products.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      async save () {
        if (this.editedIndex > -1) {
          if(this.editedItem.PRO_PURCHASEQTY>=this.editedItem.PRO_ORDERQTY){
          Object.assign(this.products[this.editedIndex], this.editedItem)
          const res = await this.$axios.put(URL + "/api/products/" + this.editedItem.PRO_ID, this.editedItem);
          console.log(res);
          }else{          
            alert("Not have enought products");
            }
       } else {
          if(this.editedItem.PRO_PURCHASEQTY>=this.editedItem.PRO_ORDERQTY){
          this.products.push(this.editedItem)
          const res = await this.$axios.post(URL + "/api/products", this.editedItem);
          console.log(this.editedItem);
          console.log(res);
          }else{
            alert("Not have enought products");
          }
        }
        this.close()
        this.initialize();
      },
    },
  }
</script>