<template>
<div>
  <v-main>
  <span class="background"></span>
  <v-alert
      v-model="alert"
      dismissible
      color="green"
      border="left"
      elevation="2"
      colored-border
      type="success"
    >
      Signup successfully!
    </v-alert>
   <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
  <v-card
    class="mx-auto mt-9"
    max-width="500"
  >
    <v-card-title class="justify-center">
      <h2>Sign Up</h2>
    </v-card-title>
    <v-card-text>
    <v-text-field label="Name" v-model="name" prepend-icon="mdi-account-circle"/>
    <v-text-field label="Email" v-model="email" :rules="emailRules" prepend-icon="mdi-email"/>
    <v-text-field label="Password" v-model="password"
    :rules="passwordRules"
    :type="showPassword ? 'text' : 'password'"
    prepend-icon="mdi-lock"
    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
    @click:append="showPassword = !showPassword"/>
    </v-card-text>
    <v-card-actions class="justify-center">
    <v-btn class="container" v-if="!alert" color="success" :disabled="!valid" @click="alert = true;submitForm">Sign Up</v-btn>
    </v-card-actions>
  </v-card>
   </v-form>
  </v-main>
</div>
</template>

<script>
export default {
    data: () => ({
      showPassword:false,
      valid: false,
      alert: false,
      name:'',
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 6) || 'Password must be more than 6 characters',
      ],
    }),

    methods: {
       submitForm () {
        this.$refs.form.validate();
    },
  },
}
</script>

<style>
.background{
    width: 93vw;
    height: 93vh;
    position: absolute;
    transform: scale(1.3);
    background-color: #84DD63;
}
</style>